body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.form-login input[type="email"] {  
  position: relative;
}
.form-login input[type="password"] {
  position: relative;
}

.form-login button{
  position: relative;
}